body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif,
    "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji",
    "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol" !important;
}

.eco--title {
  display: inline-block;
  font-weight: 400;
}

.react-datepicker-wrapper,
.eco--w100 {
  width: 100%;
}

.react-datetime-picker--disabled button {
  display: none;
}

.bx--modal-container {
  overflow: visible;
}

.bx--body--with-modal-open {
  overflow: initial;
}

.eco--modal-container {
  padding: 0 1rem;
}

.eco--btn-transparent {
  background: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.react-datetime-picker__wrapper {
  border: 0 !important;
  width: 100%;
}

ol,
ul {
  list-style: initial;
  margin-left: 16px;
  li {
    line-height: 1.4em;
    padding-left: 6px;
  }
}

ol {
  list-style: decimal;
}

.leaflet-container {
  height: 70vh;
  margin-bottom: 2rem;
}

.eco--sign-in {
  margin-top: 4rem;
}

.bx--accordion {
  margin-left: 0;
}

.eco--tag-heading {
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
}

.eco--panel,
.eco--panel svg {
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
}

.eco--divider {
  padding-bottom: 1rem;
  font-style: italic;
}

.nobr {
  white-space: pre;
}

.elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
