// Carbon Design System Theme -> http://themes.carbondesignsystem.com/

$cropcert-primary: #4caf50;

$edited: true;

$interactive-01: $cropcert-primary;
$interactive-03: $cropcert-primary;
$interactive-04: $cropcert-primary;
$link-01: $cropcert-primary;
$focus: $cropcert-primary;
$brand-01: $cropcert-primary;
$brand-03: $cropcert-primary;

$hover-primary: darken($cropcert-primary, 15%);
$hover-primary-text: darken($cropcert-primary, 15%);
$brand-02: darken($cropcert-primary, 15%);
$interactive-03: darken($cropcert-primary, 15%);
$active-primary: darken($cropcert-primary, 15%);
$active-tertiary: darken($cropcert-primary, 15%);
$support-04: darken($cropcert-primary, 15%);

$active-primary: darken($cropcert-primary, 20%);
$focus: $cropcert-primary;
