.rdt_TableHeader {
  display: none !important;
}

.rdt_TableHeadRow {
  background: var(--chakra-colors-gray-100);
  .rdt_TableCol div {
    font-weight: bold;
    color: var(--chakra-colors-gray-900);
  }
}

.rdt_TableBody {
  a svg {
    display: inline !important;
  }
  .rdt_TableRow:hover {
    background: var(--chakra-colors-gray-50);
  }
}

// this css snippet is for the header of the table
.hbotQl {
  overflow: auto !important;
  white-space: normal !important;
  text-align: center !important;
}
