@import "./article.scss";
@import "./progress.scss";
@import "./datatable.scss";
@import "./transitions.scss";
@import "./react-datetime-picker.scss";
@import "./navmenu.scss";
@import "./timeline.scss";

@import "~keen-slider/keen-slider.min.css";

:root {
  --page-height: calc(100vh - 126px);
}

input:disabled {
  background: var(--chakra-colors-gray-200);
}

.leaflet-container,
.scroll-container {
  height: 70vh;
}

.grid-row {
  display: grid;
  align-items: center;
  border: 1px dashed var(--chakra-colors-gray-400);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-height: 4rem;
  background: var(--chakra-colors-white);
  &[data-odd="true"] {
    background: var(--chakra-colors-gray-100);
  }
}

.chakra-radio__control:not([data-checked]),
.chakra-input,
.chakra-select {
  background: white !important;
}
