@import "./progress.scss";
@import "./datatable.scss";
@import "./transitions.scss";
@import "./react-datetime-picker.scss";
@import "./navmenu.scss";
@import "./timeline.scss";
@import "./page.scss";
@import "./map.scss";

@import "~keen-slider/keen-slider.min.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";

:root {
  --heading-height: 55px;
  --footer-height: 110px;
  --heading-subheading: 105px;
  --traceability-container-text: 260px;
  --table-gap: calc(var(--heading-subheading) + var(--traceability-container-text));
  --fm-table-gap: calc(var(--heading-subheading) + 210px);
  --batch-table-gap: calc(var(--heading-subheading) + 315px);
  --page-height: calc(100vh - var(--heading-height) - var(--footer-height));
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

input:disabled {
  background: var(--chakra-colors-gray-200);
}

.leaflet-container,
.scroll-container {
  height: 70vh;
}

.grid-row {
  display: grid;
  align-items: center;
  border: 1px dashed var(--chakra-colors-gray-300);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-height: 4rem;
  background: var(--chakra-colors-white);
  &[data-odd="true"] {
    background: var(--chakra-colors-gray-100);
  }
}

.chakra-radio__control:not([data-checked]),
.chakra-input,
.chakra-select {
  background: white !important;
}

.rmsc {
  --rmsc-main: var(--chakra-colors-blue-500) !important;
  --rmsc-border: var(--chakra-colors-gray-300) !important;
  --rmsc-gray: var(--chakra-colors-gray-500) !important;
  --rmsc-hover: var(--chakra-colors-gray-100) !important;
  --rmsc-selected: var(--chakra-colors-gray-200) !important;
}

#__next > main {
  min-height: var(--page-height);
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .chakra-collapse,
  .show-print {
    overflow: unset !important;
    display: unset !important;
    opacity: unset !important;
    height: unset !important;
  }

  html,
  body {
    background: none !important;
  }

  #menu {
    position: absolute !important;
  }

  .pagebreak {
    page-break-before: always;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
}

/* For pages */
h1,
h2,
h3,
h4,
h5,
h6,
.article a {
  scroll-margin-top: 5rem;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: inherit;
    background: unset;
  }
}

.textarea {
  min-height: 6rem;
  border-radius: 0.25rem;
  border: 1px solid var(--chakra-colors-gray-300);
}
.textarea .textarea__highlighter,
.textarea .textarea__input {
  padding: 8px 1rem;
}
.textarea .textarea__suggestions {
  position: absolute;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--chakra-colors-gray-300);
}

[aria-invalid="true"] > div > div {
  border-color: var(--chakra-colors-red-500) !important;
  box-shadow: 0 0 0 1px var(--chakra-colors-red-500) !important;
}

.gray-box,
.white-box,
.hover-box {
  background: var(--chakra-colors-white);
  border: 1px solid var(--chakra-colors-gray-300);
  border-radius: 0.5rem;
  display: inline-block;
  width: 100%;
}

.gray-box {
  border: 0;
  background: var(--chakra-colors-gray-100);
}

.hover-box {
  transition: all 0.3s ease-out;
  top: 0px;
  position: relative;
}
.hover-box:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.places-search > div:first-child {
  width: 100%;
}

/* For react-datetime-picker with dateTimePicker class passed as props */
.dateTimePicker .react-datetime-picker__wrapper {
  padding-left: 11px;
}

.react-dateTimePicker {
  width: 100% !important;
  border: 1px solid var(--chakra-colors-gray-300);
  border-radius: 0.35rem;
  background: var(--chakra-colors-white);
  padding: 0.5rem 1rem;
}

.react-dateTimePicker:focus-visible {
  outline: none;
  border: 2px solid var(--chakra-colors-blue-500);
}

.react-datepicker__input-container input:disabled {
  background-color: white; /* Light gray background */
  color: #a0aec0; /* Dimmed text color */
  cursor: not-allowed; /* Cursor indicating disabled state */
  border: 1px solid #e2e8f0; /* Custom border color */
}

/* For dropdown in traceability not showing above table headers */
.dropdown-content {
  z-index: 99 !important;
}

.custom-weight-input {
  text-align: center;
  margin: 0 4px;
  min-width: 12px;
  width: fit-content;
  height: 32px;
  font-size: 0.75rem;
  border: 1px solid #cbd5e0;
  border-radius: 4px;

  /* Remove default number input spinner */
  appearance: textfield;
}

.custom-weight-input::-webkit-outer-spin-button,
.custom-weight-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-weight-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #3182ce; /* Chakra UI blue-ish */
  border-color: #3182ce;
}
