@import "./article.scss";
@import "./progress.scss";
@import "./datatable.scss";
@import "./transitions.scss";
@import "./react-datetime-picker.scss";

:root {
  --page-height: calc(100vh - 126px);
}

html,
body {
  background: var(--gray-50);
}

body {
  overflow-y: scroll;
}

input:disabled {
  background: var(--gray-200);
}

.leaflet-container,
.scroll-container {
  height: 70vh;
}

.grid-row {
  display: grid;
  align-items: center;
  border: 1px dashed var(--gray-400);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-height: 4rem;
  background: var(--white);
  &[data-odd="true"] {
    background: var(--gray-100);
  }
}
