// style to remove leaftlet popup margin and padding
.leaflet-popup-content p {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100wh;
  height: 100vh;
}

.popup-heading {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


.centroid-marker {
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
}