.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation-name: simpleFade;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes simpleFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
