@import "~react-sortable-tree/style.css";

.rst__rowWrapper {
  .rst__moveHandle {
    background-color: var(--gray-900);
    border: none;
    box-shadow: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .rst__rowContents {
    box-shadow: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .rst__toolbarButton {
    padding: 0.1rem;
    font-size: 1.3em;
  }
}
